<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link href="styles.css" rel="stylesheet">
      <title>Within Range</title>
</head>
<body>
    <div class="container">
        <h1> 1001669338 </h1>
        <h1> Padmanabhan, Goutami </h1>
        <br>
        <p>No. of rows: {{rowcount}}</p>
        <p>Time: {{elapsed_time}}</p>
        <center>
            {#{% if rows is not None %}#}
            {{rows}}
            {#{% else %}#}
            {#<div>No data available</div>#}
            {#{% endif %}#}
        </center>
        <br>
        <br>
    </div>
</body>
</html>
