<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="static/styles.css" rel="stylesheet">
      <title>List</title>

  </head>
  <body>
    <div class="container">

      <h1> 1001669338 </h1>
      <h1> Padmanabhan, Goutami </h1>

      <br>

      <center>
          {#{% if rows1 is not None %}#}
          <table>
            <thead>
                  <th> State </th>
                  <th> Totalpop </th>
                  <th> Votepop </th>
                  <th> Registered </th>
                  <th> Voted </th>

            </thead>

            <tbody>
              {% for value in rows1 %}
            <tr>
                  <td> {{ value[0] }} </td>
                  <td> {{ value[1] }} </td>
                  <td> {{ value[2] }} </td>
                  <td> {{ value[3] }} </td>
                  <td> {{ value[4] }} </td>

            </tr>
              {% endfor %}
            </tbody>
          </table> <br>
      {#{% else %}#}
          {#<div>No data available</div>#}
      {#{% endif %}#}
      {#{% if rows2 is not None %}#}
          <table>
            <thead>
                  <th> State </th>
                  <th> Totalpop </th>
                  <th> Votepop </th>
                  <th> Registered </th>
                  <th> Voted </th>

            </thead>

            <tbody>
              {% for value in rows2 %}
            <tr>
                  <td> {{ value[0] }} </td>
                  <td> {{ value[1] }} </td>
                  <td> {{ value[2] }} </td>
                  <td> {{ value[3] }} </td>
                  <td> {{ value[4] }} </td>

            </tr>
              {% endfor %}
            </tbody>
          </table>
      {#{% else %}#}
          {#<div>No data available</div>#}
      {#{% endif %}#}
      </center>


      <br>
      <br>


    </div>

  </body>
</html>
