<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="static/styles.css" rel="stylesheet">

        <title>Dev Env</title>
    </head>
    <body>
        <div class="container">

            <h1><font color="green">1001669338</font></h1>
            <h1><font color="green">Padmanabhan, Goutami</font></h1>
            <br>
            <br>
            <p>Count: {{count}} </p>
            <p> Time: {{ pagetime }} </p>
            <p>***********************************************************************************************************************************************************************</p>
            <br>
            <h4>
                 Check
            </h4> <br>
            <form action="/check" method="post">
                <label>First Name: </label> <input type="text" name="fname"><br>
                <label>Last Name: </label> <input type="text" name="lname"><br>
                <label>age: </label> <input type="number" name="age"> <br>
                <label>credit: </label> <input type="number" name="credit"> <br>
                <label>idnum: </label> <input type="number" name="idnum"> <br>
                <label>Course: </label> <input type="number" name="course"> <br>
                <label>Section: </label> <input type="number" name="section"> <br>
                <input type="submit" value="Check" class="btn btn-primary">
            </form>
            <br>

            <p>***********************************************************************************************************************************************************************</p>
            <br>

            <p>***********************************************************************************************************************************************************************</p>
            <br>
            <p>***********************************************************************************************************************************************************************</p>
            <br>

        </div>
    </body>
</html>