<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="styles.css" rel="stylesheet">

    {% if title %}
      <title>{{ title }}</title>
    {% else %}
      <title>Home</title>
    {% endif %}

  </head>
  <body>
    <div class="container">

      <h1> 1001669338 </h1>
      <h1> Padmanabhan, Goutami </h1>

      <br>

      <p>No. of rows: {{rowcount}}</p>

      <center>
        
        

      {#{% if table is not None %}#}
          <table>
            <thead>
                  <th> Time </th>
                  <th> Latitude </th>
                  <th> Longitude </th>
                  <th> Depth </th>
                  <th> Magnitude </th>
                  <th> Magnitude Type </th>
                  <th> NST </th>
                  <th> Gap </th>
                  <th> DMin </th>
                  <th> RMS </th>
                  <th> Net </th>
                  <th> ID </th>
                  <th> Updated </th>
                  <th> Place </th>
                  <th> Type </th>
                  <th> Horizontal Error </th>
                  <th> Depth Error </th>
                  <th> Magnitude Error </th>
                  <th> Magnitude NST </th>
                  <th> Status </th>
                  <th> Location Source </th>
                  <th> Magnitude Source </th>
            </thead>

            <tbody>
              {% for value in table %}
            <tr>
                  <td> {{ value[0] }} </td>
                  <td> {{ value[1] }} </td>
                  <td> {{ value[2] }} </td>
                  <td> {{ value[3] }} </td>
                  <td> {{ value[4] }} </td>
                  <td> {{ value[5] }} </td>
                  <td> {{ value[6] }} </td>
                  <td> {{ value[7] }} </td>
                  <td> {{ value[8] }} </td>
                  <td> {{ value[9] }} </td>
                  <td> {{ value[10] }} </td>
                  <td> {{ value[11] }} </td>
                  <td> {{ value[12] }} </td>
                  <td> {{ value[13] }} </td>
                  <td> {{ value[14] }} </td>
                  <td> {{ value[15] }} </td>
                  <td> {{ value[16] }} </td>
                  <td> {{ value[17] }} </td>
                  <td> {{ value[18] }} </td>
                  <td> {{ value[19] }} </td>
                  <td> {{ value[20] }} </td>
                  <td> {{ value[21] }} </td>
                  <td> {{ value[22] }} </td>
                  
            </tr>
              {% endfor %}
            </tbody>
          </table>
      {#{% else %}#}
          {#<div>No data available</div>#}
      {#{% endif %}#}
        </center>

      <br>
      <br>


    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </body>
</html>
