<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="styles.css" rel="stylesheet">

    {% if title %}
      <title>{{ title }}</title>
    {% else %}
      <title>Home</title>
    {% endif %}

  </head>
  <body>
    <div class="container">
      
      <h1> 1001669338 </h1>
      <h1> Padmanabhan, Goutami  </h1>
      
      <br>

      <center>
      {#{% if table is not None %}#}
          <table>
            <thead>
                  <th id=td1> Name </th>
                  <th id=td1> Points </th>
                  <th id=td1> State </th>
                  <th id=td1> Room </th>
                  <th id=td1>Picture</th>
                  <th id=td1> Favorite </th>
            </thead>

            <tbody>
              {% for value in table %}
            <tr>
                  <td id=td1> {{ value[0] }} </td>
                  <td id=td1> {{ value[1] }} </td>
                  <td id=td1> {{ value[2] }} </td>
                  <td id=td1> {{ value[3] }} </td>
                  <td id=td1> <img src="https://s3.us-east.cloud-object-storage.appdomain.cloud/bucket-gp/{{value[4]}}" height="50" width="75"> </td>
                  <td id=td1> {{ value[5] }} </td>
            </tr>
              {% endfor %}
            </tbody>
          </table>
      {#{% else %}#}
          {#<div>No data available</div>#}
      {#{% endif %}#}
        </center>

      <br>
      <br>

      
      <form action="/display" method="POST">
        <label> Name: </label> <input type="text" name="name">
        <input type="submit" value="Display">
      </form>
      <br>

      <form action="/showpoint" method="POST">
        <label> Points: </label> <input type="number" name="point">
        <input type="submit" value="Show">
      </form>
      <br>

      <form action="/word" method="POST">
        <label> Point1: </label> <input type="number" name="range1">
        <label> Point2: </label> <input type="number" name="range2">
        <label> Word: </label> <input type="text" name="word">
        <input type="submit" value="Show">
      </form>
      <br>

      <form action="/update" method="POST">
        <label> Point: </label> <input type="number" name="point">
        <label> Changed Point: </label> <input type="number" name="cpoint">
        <label> Name: </label> <input type="text" name="name">
        <label> Favorite: </label> <input type="text" name="favorite">
        <input type="submit" value="Update">
      </form>
      <br>


      <br>


    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </body>
</html>
