<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="static/styles.css" rel="stylesheet">

        <title>Home</title>
    </head>
    <body>
        <div class="container">

            <h1>1001669338</h1>
            <h1>Padmanabhan, Goutami</h1>
            <br>
            <br>
            <p>***********************************************************************************************************************************************************************</p>
            <br>
            <h4>
                 Y Cluster
            </h4> <br>
            <form action="/ycluster" method="post">
                <label>Number of clusters: </label> <input type="number" name="cluster"><br>
                <label>Attribute1: </label> <input type="text" name="attribute1"> <br>
                <label>Attribute2: </label> <input type="text" name="attribute2"> <br><br>
                <input type="submit" value="Show Clusters" class="btn btn-primary">
            </form>
            <br>
            <p>***********************************************************************************************************************************************************************</p>
            <br>
            <h4>
                 Cluster
            </h4> <br>
            <form action="/cluster" method="post">
                <label>Number of clusters: </label> <input type="number" name="cluster"><br>
                <label>Attribute1: </label> <input type="text" name="attribute1"> <br>
                <label>Range1: </label> <input type="number" name="range1" step="any"><br>
                <label>Range2: </label> <input type="number" name="range2" step="any"> <br>
                <label>Attribute2: </label> <input type="text" name="attribute2"> <br>
                <label>Range3: </label> <input type="number" name="range3" step="any"><br>
                <label>Range4: </label> <input type="number" name="range4" step="any"> <br><br>
                <input type="submit" value="Show Clusters" class="btn btn-primary">
            </form>
            <br>
            <p>***********************************************************************************************************************************************************************</p>
            <br>
            <h4>
                 Pie Cluster
            </h4> <br>
            <form action="/piecluster" method="post">
                <label>Number of clusters: </label> <input type="number" name="cluster"><br>
                <label>Attribute1: </label> <input type="text" name="attribute1"> <br>
                <label>Range1: </label> <input type="number" name="range1" step="any"><br>
                <label>Range2: </label> <input type="number" name="range2" step="any"> <br>
                <label>Attribute2: </label> <input type="text" name="attribute2"> <br>
                <label>Range3: </label> <input type="number" name="range3" step="any"><br>
                <label>Range4: </label> <input type="number" name="range4" step="any"> <br><br>
                <input type="submit" value="Show Clusters" class="btn btn-primary">
            </form>
            <br>
            <p>***********************************************************************************************************************************************************************</p>
            <br>
            <h4>
                 XY Cluster
            </h4> <br>
            <form action="/xycluster" method="post">
                <label>Number of clusters: </label> <input type="number" name="cluster"><br>
                <label>Attribute1: </label> <input type="text" name="attribute1"> <br>
                <label>Attribute2: </label> <input type="text" name="attribute2"> <br><br>
                <input type="submit" value="Show Clusters" class="btn btn-primary">
            </form>
            <br>
            <p>***********************************************************************************************************************************************************************</p>
            <br>
            <h4>
                DB Cluster
            </h4> <br>
            <form action="/dbcluster" method="post">
                <label>Number of clusters: </label> <input type="number" name="cluster"><br>
                <label>Range1: </label> <input type="number" name="range1" step="any"><br>
                <label>Range2: </label> <input type="number" name="range2" step="any"> <br>
                <label>Range3: </label> <input type="number" name="range3" step="any"><br>
                <label>Range4: </label> <input type="number" name="range4" step="any"> <br><br>
                <input type="submit" value="Show Clusters" class="btn btn-primary">
            </form>
            <br>
            <p>***********************************************************************************************************************************************************************</p>
            <br>
            <br>
            <p>***********************************************************************************************************************************************************************</p>
            <br>
        </div>
    </body>
</html>