<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="static/styles.css" rel="stylesheet">
      <title>Show</title>

  </head>
  <body>
    <div class="container">

      <h1> 1001669338 </h1>
      <h1> Padmanabhan, Goutami </h1>

      <br>

      <center>
          <p> Data: {{data}}</p>

<!--        {#{% if rows is not None %}#}-->
<!--          <table>-->
<!--            <thead>-->
<!--              <th> Pclass </th>-->
<!--              <th> Survived </th>-->
<!--              <th> Name </th>-->
<!--              <th> Sex </th>-->
<!--              <th> Age </th>-->
<!--              <th> sibsp </th>-->
<!--              <th> Parch </th>-->
<!--              <th> Ticket </th>-->
<!--              <th> Fare </th>-->
<!--              <th> Cabin </th>-->
<!--              <th> Embarked </th>-->
<!--              <th> Boat </th>-->
<!--              <th> Body </th>-->
<!--              <th> Home Dest </th>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--              {% for value in rows %}-->
<!--                <tr>-->
<!--                  <td> {{ value[0] }} </td>-->
<!--                  <td> {{ value[1] }} </td>-->
<!--                  <td> {{ value[2] }} </td>-->
<!--                  <td> {{ value[3] }} </td>-->
<!--                  <td> {{ value[4] }} </td>-->
<!--                  <td> {{ value[5] }} </td>-->
<!--                  <td> {{ value[6] }} </td>-->
<!--                  <td> {{ value[7] }} </td>-->
<!--                  <td> {{ value[8] }} </td>-->
<!--                  <td> {{ value[9] }} </td>-->
<!--                  <td> {{ value[10] }} </td>-->
<!--                  <td> {{ value[11] }} </td>-->
<!--                  <td> {{ value[12] }} </td>-->
<!--                  <td> {{ value[13] }} </td>-->
<!--                </tr>-->
<!--              {% endfor %}-->
<!--            </tbody>-->
<!--          </table>-->
<!--        {#{% else %}#}-->
<!--          {#<div>No data available</div>#}-->
<!--        {#{% endif %}#}-->
      </center>


      <br>
      <br>


    </div>

  </body>
</html>
