<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="static/styles.css" rel="stylesheet">
      <title>Y Cluster</title>

  </head>
  <body>
    <div class="container">

      <h1> 1001669338 </h1>
      <h1> Padmanabhan, Goutami </h1>

      <br>

      <center>
          <table>
              <tr>
                  <th>Distance</th>
                  <th>Number of points</th>
                  <th>Centroids</th>
              </tr>
              {% if distance %}
              {% for v1,v2,v3 in fields  %}
              <tr>
                  <td> {{v1}} </td>
                  <td> {{v2}} </td>
                  <td> {{v3}} </td>
              </tr>
              {% endfor %}
              {% endif %}
          </table>
          <br>
          <br>
          <p>
              {% if elapsed_time %}
                Time elapsed:{{ elapsed_time }}
              {% endif %}
          </p>
          <table>
              <tr>
                  <th>Points</th>
              </tr>
              {% for value in p  %}
              <tr>
                  <td> {{value}} </td>
              </tr>
              {% endfor %}
          </table>
          <br>
          <table>
              <tr>
                  <th>Euclidean Distance</th>
              </tr>
              {% for value in dists  %}
              <tr>
                  <td> {{value}} </td>
              </tr>
              {% endfor %}
          </table>
          <br>
          <p> Points : </p><br>
          <p> {{ points }}</p>
          <br>
      </center>


      <br>
      <br>


    </div>

  </body>
</html>
