<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="styles.css" rel="stylesheet">

    {% if title %}
      <title>{{ title }}</title>
    {% else %}
      <title>Home</title>
    {% endif %}

  </head>
  <body>
    <div class="container">

      <h1> 1001669338 </h1>
      <h1> Padmanabhan, Goutami </h1>

      <br>
      <br>

<!--       <center>
      {#{% if table is not None %}#}
          <table>
            <thead>
                  <th> Time </th>
                  <th> Latitude </th>
                  <th> Longitude </th>
                  <th> Depth </th>
                  <th> Magnitude </th>
                  <th> RMS </th>
                  <th> Place </th>
            </thead>

            <tbody>
              {% for value in table %}
            <tr>
                  <td> {{ value[0] }} </td>
                  <td> {{ value[1] }} </td>
                  <td> {{ value[2] }} </td>
                  <td> {{ value[3] }} </td>
                  <td> {{ value[4] }} </td>
                  <td> {{ value[5] }} </td>
                  <td> {{ value[6] }} </td>
                  
            </tr>
              {% endfor %}
            </tbody>
          </table>
      {#{% else %}#}
          {#<div>No data available</div>#}
      {#{% endif %}#}
        </center>

 
      <br>

      -->
      <p>***********************************************************************************************************************************************************************</p>
      <br>
      <br>

      <h4> 
        Upload file to IBM DB
      </h4> <br>
      <form action="/upload" method="POST" enctype= "multipart/form-data">
        <label> CSV File:</label> <input type="file" name="myfile"> 
        <input type="submit" name="upload" value="Upload" class="btn btn-primary">
      </form>
      <br> 

      <p>***********************************************************************************************************************************************************************</p>
      <h4> 
        6. Through a web interface (page), allow a user to give two depth values and an increment (for example 4.0, 10.0, and 2) and show the number of quakes between those depth values in increments given (that is, for the example,     all quakes, mag 4 to 6, 6 to 8, 8 to 10), show the number of quakes in EACH interval.
      </h4> <br>
      <form action="/range" method="POST" >
        <label> Depth </label> <br>
        <label> From:</label> <input type="number" name="depthrange1" step="any"> <br>
        <label> To: </label> <input type="number" name="depthrange2" step="any"> <br>
        <label> Increment: </label> <input type="number" name="increment" step="any"> <br>   
        <input type="submit" value="Search" class="btn btn-primary"> 
      </form>
      <br>

       <p>***********************************************************************************************************************************************************************</p>
      <h4> 
         7. Through a web interface (page), allow a user to give two location values (lat and long for two different locations) and show (list) the lat, long, and place (name), for every earthquake in that area (box).
      </h4> <br>
      <form action="/range" method="POST" >
        <label> Depth </label> <br>
        <label> Latitude:</label> <input type="number" name="depthrange1" step="any"> <br>
        <label> Longitude: </label> <input type="number" name="depthrange2" step="any"> <br>
        <label> Increment: </label> <input type="number" name="increment" step="any"> <br>   
        <input type="submit" value="Search" class="btn btn-primary"> 
      </form>
      <br>
      <p>***********************************************************************************************************************************************************************</p>
      <h4> 
        8. Through a web interface (page), allow a user to give a date range in Z (GMT) (that is, two dates)
    and a depth range, and modify all earthquakes within that range, to contain a mag of "999". 
    Then show number of tuples (records) changed.
      </h4> <br>
      <form action="/update" method="POST" >
        
        <label> Date Range </label> <br>
        <label> From: </label> <input type="text" name="startdate" placeholder="2019-06-12"> <br>
        <label> To: </label> <input type="text" name="enddate" placeholder="2019-06-12"> <br>  
        <label> Depth </label> <br>
        <label> From:</label> <input type="number" name="depthrange1" step="any"> <br>
        <label> To: </label> <input type="number" name="depthrange2" step="any"> <br>   
        <label> Magnitude: </label> <input type="number" name="mag" step="any"> <br>   
        <input type="submit" value="Search" class="btn btn-primary"> 
      </form>
      <br>

      <br>


    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </body>
</html>
